h1 {
  text-align: center;
  color: #252e2f;
  margin-top: 40px;
}

h3 {
  color: #252e2f;
}

p {
  text-align: center;
  color: #24484b;
}

body {
  background: rgb(172,213,217);
  background: radial-gradient(circle, rgba(172,213,217,1) 0%, rgba(73,125,130,100) 100%);
} 

.btn {
  background-color: #dffcff;
  color: #223358;
  border: solid white;
  margin-top: 20px;
}

.btn:hover {
  border: solid gold;
  color: goldenrod;
}

.refresh {
  float: right;
}

.card {
  background-color: #dffcff;
  border-color: white;
}

.card-header {
  text-align: center;
  color: #223358;
}

#answer {
  margin-top: 40px;
  display: none;
}

#ruby {
  color: red;
  font-weight: bold;
}

#python {
  color: blue;
  font-weight: bold;
}

#c {
  color: purple;
  font-weight: bold;
}

